.gradientVelho {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.gradientVelho img {
}

@keyframes sumiu {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.gradienteMutavel {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  animation: sumiu 1s;
  /* animation: sumiu 6s infinite; */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* z-index: -1; */
}

.gradienteImutavel {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
}

.name {
  color: #100554;
  font-weight: 500;
  font-size: 1.15rem;
}

.name:hover {
  color: #fff;
  transition: color 0.5s;
  border-bottom: 3px solid #fff;
  font-weight: 530;
}

.logo {
  width: 16vw;
}
